<a href="https://colab.research.google.com/github/alitarraf/Data-Science-Training/blob/master/Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://raw.githubusercontent.com/alitarraf/Data-Science-Training/master/assets/princess.jpg)

# Introduction to Python (Part 1)

# 1. Why Python
* Simple languange
* Straightforward synthax
* Easy to learn/read/maintain
* Employers like python
* Good for data analysis 
* Good for graphing and visualization


# 2. Basics of Python

## Python as a Calculator

In [0]:
1+1

In [0]:
9876*1234

In [0]:
(76+89+2-5419)*619/11

## Hello World!

In [0]:
print('Hello, World!')

Hello, World!

In [0]:
print ("Hello, World!")

Hello, World!

#### Your Turn!

Print your full name below

In [0]:
## START CODE HERE

print("Layane El Wazzi")

## END CODE HERE

Layane El Wazzi

##### Expected output


```
Full Name
```

## Basic Data Types

Python is loosly typed, there's no nead to declare the data types

### Integers and Floats

In [0]:
x = 1
y = 1.0
print(x)
print(y)

print (x, y)

1
1.0
1 1.0

#### Your Turn!

- Assign the numbers (4.78 - 3 - 9000.5) to three different variables
- Print the numbers vertically
- Print the numbers on the same line

In [0]:
## START CODE HERE

x=4.78
y=3
z=9000.5

print (x)
print (y)
print (z)

print (x,y,z)

## END CODE HERE

4.78
3
9000.5
4.78 3 9000.5

##### Expected output

```
4.78
3
9000.5

4.78 3 9000.5

```

### Strings

In [0]:
x = 'hello'
y = "hello"
print(x)
print(y)

hello
hello

### Multiple assignment

In [0]:
x, y = 1, 2
print(x)
print(y)

a,b,c=4,5,6
print (a,b,c)

1
2
4 5 6

### Checking data types

In [0]:
x = 1
y = 1.0
z = '1.0'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

### Operators with strings and numbers

In [0]:
print(1 + 2)
print(2 * 2)

3
4

In [0]:
print('hello' + ' world')

hello world
hellohellohello

#### Your Turn!

- Choose a number between 1 and 4
- Add to it 2
- Print the result
- Print your first name multiplied by this number

In [0]:
## START CODE HERE

x=2
y=x+2

print (y)

print ("Layane" * y)

## END CODE HERE

4
LayaneLayaneLayaneLayane

##### Expected output

```
4
Layane Layane Layane Layane
```

### String operations

In [0]:
x = 'hello, world.'

print(len(x))

13

Slicing

In [0]:
x = 'hello, world.'

print (x[0])
print(x[7:11])
print(x[:5])
print(x[7:])
print (x[-1])

h
worl
hello
world.
.

String formatting

In [0]:
x = 'John'

print('Hello %s' % x)

Hello John

#### Your Turn!

- Type: "Today is a beautiful day"
- Print the length of this phrase
- Print "beautiful" using the slicing tool
- Print the legnth of beautiful
- Print "life is beautiful" using string formatting

In [0]:
## START CODE HERE

x="Today is a beautiful day"
print (len(x))

print(x[11:20])

print (len(x[11:20]))

print ("life is %s" % x[11:20])

## END CODE HERE

24
beautiful
9
life is beautiful

##### Expected output


```
24
beautiful
9
life is beautiful

```

## Conditions

### Boolean variables
Conditions are evaluated using boolean variables

In [0]:
y = (2 == 3)
print(y)

False

#### Your Turn!

- Assign two numbers to two different variables x and y
- Verify if x and y are equal

In [0]:
## START YOUR CODE HERE

x=4
y=8

z = (x==y)
print (z)


print ( x==y)

## END YOUR CODE HERE

False
False

##### Expected Output

```
False
```

### Boolean operators

In [0]:
x = not (1 == 2)
print(x)

True

In [0]:
y = (1 == 1) and (1 == 2)
print(y)

False

In [0]:
z = (1 == 1) or (1 == 2)
print(z)

True

### The "in" operator

In [0]:
x = 'asdfg'
y = 'sd'
print(y in x)

True

In [0]:
x = 'asdfg'
z = 'sf'
print(z in x)

False

### The "if" condition

In [0]:
x = 'helol'
if x in 'hello':
    print('Hello!')

false

In [0]:
x = 3.0
if type(x) is int:
    print("I'm an int.")
else:
    print("I'm not an int")

I'm not an int

In [0]:
x = 3.0
if type(x) is int:
    print("I'm an int.")
elif type(x) is float:
    print("I'm a float.")
else:
    print("I'm neither an int nor a float")

I'm a float.

#### Your Turn!

- Assign the number 2.0 and 2 in this order to two different variables x and y
- Check if x > y and return "You Got it Wrong!"
- Check if x < y and return "You Got it Wrong!"
- Check if x = y and return "You Got it Right!"

In [0]:
## START YOUR CODE HERE

x= 2.0
y= 2

if x < y:
    print("You got it wrong!")
elif  x > y:
    print("You got it wrong!")
else:
    print("You got it right!")

## END YOUR CODE HERE

You got it right!

##### Expected output

```
You got it right!
```

## Containers

### Lists
Lists are array-like, they can hold multiple valriables. Each variable has a specific index that can be used to access the variable itself.

In [0]:
x = [1, 2, 3]
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

In [0]:
x = []
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

Slicing

In [0]:
x = [1, 2, 3, 4, 5]
print (len (x))
print(x[1:4])
print(x[1:5])
print(x[3:])

5
[2, 3, 4]
[2, 3, 4, 5]
[4, 5]

Number of elements in a list

In [0]:
x = [1, 2, 3, 4, 5]
print(len(x))

5

Accessing elements

In [0]:
x = [1, 2, 3, 4, 5]
print('The first element of x: %s' % x[0])
print('The third element of x: %s' % x[2])

The first element of x: 1
The third element of x: 3

#### Your Turn!

- Create an empty list a
- Append to it the following numbers: 1, 4, 7, 10, 13
- Verify that the number 1 is in the list using the boolean operator in, and retrun "The number 1 is in the list a"
- Print the last two items
- Append these two items to a new list b, and add to it the following two additional numbers: The sum of the two items, and the multiplication of the two items
- Print b
- Print "the length of b is: " and print the length of b
- print: "The third element of a is..."
- pirnt: " The sum of the first and the last element of b is..."

In [0]:
## START YOUR CODE HERE


## Create and empty list a
a=[]

## Append to it the numbers
a.append (1)
a.append (4)
a.append (7)
a.append (10)
a.append (13)

## print a
print (a)

## Verify that 1 is in a using IF statement
if (1 in a):
  print ("The number 1 is in list a")

## Print the last two items of a using slicing
print (a[3:])

## create a new list b
b=[]

## append to it the last two items of a
b.append(a[3])
b.append(a[4])

## append to it the sum
b.append(a[3]+a[4])

## append to it the product
b.append(a[3]*a[4])

## print b
print (b)

## print the kength of b
print ("the legnth of b is: %s" % len(b))

## print the third element of a
print ("The third element of a is %s" % a[3])

## print the sum of the first and last element of b
print ("The sum of the first and last element of b is %s" % (b[0]+b[3]))

## END YOUR CODE HERE

[1, 4, 7, 10, 13]
The number 1 is in list a
[10, 13]
[10, 13, 23, 130]
the legnth of b is: 4
The third element of a is 10
The sum of the first and last element of b is 140

##### Expected output

```
The number 1 is in list a
[10, 13]
[10, 13, 23, 130]
the legnth of b is: 4
The third element of a is 10
The sum of the first and last element of b is 140
```

### Dictionaries
The dictionary is a data type that like lists, can store multiple values. Each value is mapped to its own key. Thus the keys of a dictionary are to be used to access its values.

In [0]:
x = dict()
print(x)

{}

In [0]:
x['key 1'] = 'value 1'
x['key 2'] = 'value 2'
x['key 3'] = 'value 3'
print(x)

{'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print(x)

{'key 1': 'value 1', 'key 2': 'value 2'}

Removing elements

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
del x['key 1']
print(x)

{'key 2': 'value 2'}

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
y = x.pop('key 2')
print(y)
print(x)

value 2
{'key 1': 'value 1'}

Number of elements in a dict

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print(len(x))

2

Accessing elements

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print("The value of the element at key 'key 1': %s" % x['key 1'])

The value of the element at key 'key 1': value 1

Keys and values of a dict

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}

# The keys of a dict
print(x.keys())
# The values of a dict
print(x.values())

dict_keys(['key 1', 'key 2'])
dict_values(['value 1', 'value 2'])

## Loops

### The "for" loop
Used to iterate over a sequence

In [0]:
for x in [1, 2, 3]:
    print (x)

1
2
3

The "range" function is used to create a sequence of numbers

In [0]:
x = range(5)
print(x)

range(0, 5)

In [0]:
x = range(3, 7)
print(x)

range(3, 7)

In [0]:
x = range(1, 7, 2)
print(x)

range(1, 7, 2)

In [0]:
x = range(5)
for y in x:
    print(y)

0
1
2
3
4

Iterating over a dictionary

In [0]:
x = {'k1': 'val1', 'k2': 'val2'}
for y in x.items():
    print(y)

('k1', 'val1')
('k2', 'val2')

#### Your Turn! 
- Create a list containing 3 strings:a,b and c
- Loop over the list and print out each of its elements

*   Create a dictionary conatining 3 elements key-value pairs
*   Loop over the items of the dictionary and print out each key-value pair

In [0]:
## START YOUR CODE HERE

myList = ['a', 'b', 'c']
for element in myList:
    print(element)
    

myDict = {'k1': 'val1', 'k2': 'val2', 'k3': 'val3'}
for key, value in myDict.items():
    print(key, value)
    
## END YOUR CODE HERE

a
b
c
k1 val1
k2 val2
k3 val3

##### Expected output



```
a
b
c
k1 val1
k2 val2
k3 val3
```

### The "while" loop
Repeats as long as a certain boolean condition holds

In [0]:
x = 5
while x > 2:
    print (x)
    x = x - 1

5
4
3

### The "break" statement
Used to break out of a loop

In [0]:
for x in range(10):
    print (x)
    if x == 2:
        break

0
1
2

### The "continue" statement
Used to skip the current iteration and continue to the next one

In [0]:
for x in range(10):
    if x > 1 and x < 9:
        continue
    print(x)

0
1
9

#### Your Turn!

- Assign a varibale to 10
- Loop and print out the varaible as long as its value is greater than 7
- Subtract 1 from your variable in the loop

In [0]:
## START YOUR CODE HER

myVar = 10
while myVar > 7:
    print(myVar)
    myVar = myVar - 1
    
    
## END YOUR CODE HERE

10
9
8

## Functions

A function:

- Orders code
- Divides code into blocks
- Makes code more readable
- Makes code reusable

A function encloses multiple lines of code that accomplish a certain task. It's formed of a block head, followed by a block (multiple lines) of code. In python, functions are defined using the keyword "def" and thus, the block head is formed as: def FunctionName(argument1, argument2, ...).

In [0]:
def SumOfTwo(x, y):
    z = x + y
    print("The sum of %s and %s is %s" % (x, y, z))

A function is called by writing the function's name followed by brackets filled with the corresponding arguments.

In [0]:
SumOfTwo(2, 3)

The sum of 2 and 3 is 5

A function can also return values through the use of the "return" keyword.

In [0]:
def SumOfTwo(x, y):
    z = x + y
    print("The sum of %s and %s is %s" % (x, y, z))
    return z

In [0]:
returnedValue = SumOfTwo(2, 5)
print('The returned value is: %s' % returnedValue)

The sum of 2 and 5 is 7
The returned value is: 7

#### Your Turn!

- Create a function "Thirteen" that takes two values a and b
- This function should return True if one of the values is equal to 13 or if their sum or difference is 13
- try it with the following pairs: 2 and 3, 2 and 13, 8 and 21

In [0]:
# Create a function that takes two integer values a and b.
# The function should return True if one of the values is equal to 13 or if their sum or difference is 13.

## START YOUR CODE HERE

def Thirteen(a, b):
    if a == 13 or b == 13:
        return True
    if a + b == 13 or a - b == 13 or b-a==13:
        return True
    return False

  
print(Thirteen(2, 3))
print(Thirteen(2, 13))
print(Thirteen(8, 21))

## END YOUR CODE HERE

False
True
True

##### Expected output

```
False
True
True
```

#### Your Turn! CHALLENGING

- Create a function "FilterList" that takes 3 arguments: a list "myList" and two numbers "min" and "max"
- The function should retrun a list containing the numbers in myList that fall between min and max

In [0]:
## START YOUR CODE HERE

def FilterList(myList, min, max):
    result = []
    for x in myList:
        if (x <= max) and (x >= min):
            result.append(x)
    return result
    
l1 = range(10)
l2 = FilterList(myList=l1, min=5, max=8)
print(l2)

# END YOUR CODE HERE

[5, 6, 7, 8]

##### Expected output

```
[5, 6, 7, 8]
```