<a href="https://colab.research.google.com/github/alitarraf/Data-Science-Training/blob/master/Introduction_To_Python_unsolved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://raw.githubusercontent.com/alitarraf/Data-Science-Training/master/assets/princess.jpg)

# Introduction to Python (Part 1)

# 1. Why Python
* Simple languange
* Straightforward synthax
* Easy to learn/read/maintain
* Employers like python
* Good for data analysis 
* Good for graphing and visualization


# 2. Basics of Python

## Python as a Calculator

In [0]:
1+1

In [0]:
9876*1234

In [0]:
(76+89+2-5419)*619/11

## Hello World!

In [0]:
print('Hello, World!')

In [0]:
print ("Hello, World!")

#### Your Turn!

Print your full name below

In [0]:
## START CODE HERE

## END CODE HERE

##### Expected output


```
Full Name
```

## Basic Data Types

Python is loosly typed, there's no nead to declare the data types

### Integers and Floats

In [0]:
x = 1
y = 1.0
print(x)
print(y)

print (x, y)

#### Your Turn!

- Assign the numbers (4.78 - 3 - 9000.5) to three different variables
- Print the numbers vertically
- Print the numbers on the same line

In [0]:
## START CODE HERE

## END CODE HERE

##### Expected output

```
4.78
3
9000.5

4.78 3 9000.5

```

### Strings

In [0]:
x = 'hello'
y = "hello"
print(x)
print(y)

### Multiple assignment

In [0]:
x, y = 1, 2
print(x)
print(y)

a,b,c= 4,5,6
print (a,b,c)

### Checking data types

In [0]:
x = 1
y = 1.0
z = '1.0'
print(type(x))
print(type(y))
print(type(z))

### Operators with strings and numbers

In [0]:
print(1 + 2)
print(2 * 2)

In [0]:
print('hello' + ' world')

#### Your Turn!

- Choose a number between 1 and 4
- Add to it 2
- Print the result
- Print your first name multiplied by this number

In [0]:
## START CODE HERE

## END CODE HERE

##### Expected output

```
4
Layane Layane Layane Layane
```

### String operations

In [0]:
x = 'hello, world.'

print(len(x))

Slicing

In [0]:
x = 'hello, world.'

print (x[0])
print(x[7:11])
print(x[:5])
print(x[7:])
print (x[-1])

String formatting

In [0]:
x = 'Layane'

print('Hello %s' % x)

#### Your Turn!

- Type: "Today is a beautiful day"
- Print the length of this phrase
- Print "beautiful" using the slicing tool
- Print the legnth of beautiful
- Print "life is beautiful" using string formatting

In [0]:
## START CODE HERE

## END CODE HERE

##### Expected output


```
24
beautiful
9
life is beautiful

```

## Conditions

### Boolean variables
Conditions are evaluated using boolean variables

In [0]:
y = (2 == 3)
print(y)

#### Your Turn!

- Assign two numbers to two different variables x and y
- Verify if x and y are equal

In [0]:
## START YOUR CODE HERE

## END YOUR CODE HERE

##### Expected Output

```
False
```

### Boolean operators

In [0]:
x = not (1 == 2)
print(x)

In [0]:
y = (1 == 1) and (1 == 2)
print(y)

In [0]:
z = (1 == 1) or (1 == 2)
print(z)

### The "in" operator

In [0]:
x = 'asdfg'
y = 'sd'
print(y in x)

In [0]:
x = 'asdfg'
z = 'sf'
print(z in x)

### The "if" condition

In [0]:
x = 'helol'
if x in 'hello':
    print('Hello!')

In [0]:
x = 3.0
if type(x) is int:
    print("I'm an int.")
else:
    print("I'm not an int")

In [0]:
x = 3.0
if type(x) is int:
    print("I'm an int.")
elif type(x) is float:
    print("I'm a float.")
else:
    print("I'm neither an int nor a float")

#### Your Turn!

- Assign the number 2.0 and 2 in this order to two different variables x and y
- Check if x > y and return "You Got it Wrong!"
- Check if x < y and return "You Got it Wrong!"
- Check if x = y and return "You Got it Right!"

In [0]:
## START YOUR CODE HERE

## END YOUR CODE HERE

##### Expected output

```
You got it right!
```

## Containers

### Lists
Lists are array-like, they can hold multiple valriables. Each variable has a specific index that can be used to access the variable itself.

In [0]:
x = [1, 2, 3]
print(x)
print(type(x))

In [0]:
x = []
x.append(1)
x.append(2)
x.append(3)
print(x)

Slicing

In [0]:
x = [1, 2, 3, 4, 5]
print (len (x))
print(x[1:4])
print(x[1:5])
print(x[3:])

Number of elements in a list

In [0]:
x = [1, 2, 3, 4, 5]
print(len(x))

Accessing elements

In [0]:
x = [1, 2, 3, 4, 5]
print('The first element of x: %s' % x[0])
print('The third element of x: %s' % x[2])

#### Your Turn!

- Create an empty list a
- Append to it the following numbers: 1, 4, 7, 10, 13
- Verify that the number 1 is in the list using the boolean operator in, and retrun "The number 1 is in the list a"
- Print the last two items
- Append these two items to a new list b, and add to it the following two additional numbers: The sum of the two items, and the multiplication of the two items
- Print b
- Print "the length of b is: " and print the length of b
- print: "The third element of a is..."
- pirnt: " The sum of the first and the last element of b is..."

In [0]:
## START YOUR CODE HERE


## Create and empty list a


## Append to it the numbers


## print a


## Verify that 1 is in a using IF statement


## Print the last two items of a using slicing


## create a new list b


## append to it the last two items of a


## append to it the sum


## append to it the product


## print b


## print the kength of b


## print the third element of a


## print the sum of the first and last element of b


## END YOUR CODE HERE

##### Expected output

```
The number 1 is in list a
[10, 13]
[10, 13, 23, 130]
the legnth of b is: 4
The third element of a is 10
The sum of the first and last element of b is 140
```

### Dictionaries
The dictionary is a data type that like lists, can store multiple values. Each value is mapped to its own key. Thus the keys of a dictionary are to be used to access its values.

In [0]:
x = dict()
print(x)

In [0]:
x['key 1'] = 'value 1'
x['key 2'] = 'value 2'
x['key 3'] = 'value 3'
print(x)

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print(x)

Removing elements

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
del x['key 1']
print(x)

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
y = x.pop('key 2')
print(y)
print(x)

Number of elements in a dict

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print(len(x))

Accessing elements

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}
print("The value of the element at key 'key 1': %s" % x['key 1'])

Keys and values of a dict

In [0]:
x = {'key 1' : 'value 1', 'key 2': 'value 2'}

# The keys of a dict
print(x.keys())
# The values of a dict
print(x.values())

## Loops

### The "for" loop
Used to iterate over a sequence

In [0]:
for x in [1, 2, 3]:
    print (x)

The "range" function is used to create a sequence of numbers

In [0]:
x = range(5)
print(x)

In [0]:
x = range(3, 7)
print(x)

In [0]:
x = range(1, 7, 2)
print(x)

In [0]:
x = range(5)
for y in x:
    print(y)

Iterating over a dictionary

In [0]:
x = {'k1': 'val1', 'k2': 'val2'}
for y in x.items():
    print(y)

#### Your Turn! 
- Create a list containing 3 strings:a,b and c
- Loop over the list and print out each of its elements

*   Create a dictionary conatining 3 elements key-value pairs
*   Loop over the items of the dictionary and print out each key-value pair

In [0]:
## START YOUR CODE HERE

## END YOUR CODE HERE

##### Expected output



```
a
b
c
k1 val1
k2 val2
k3 val3
```

### The "while" loop
Repeats as long as a certain boolean condition holds

In [0]:
x = 5
while x > 2:
    print (x)
    x = x - 1

### The "break" statement
Used to break out of a loop

In [0]:
for x in range(10):
    print (x)
    if x == 2:
        break

### The "continue" statement
Used to skip the current iteration and continue to the next one

In [0]:
for x in range(10):
    if x > 1 and x < 9:
        continue
    print(x)

#### Your Turn!

- Assign a varibale to 10
- Loop and print out the varaible as long as its value is greater than 7
- Subtract 1 from your variable in the loop

In [0]:
## START YOUR CODE HER

myVar = 10
while myVar > 7:
    print(myVar)
    myVar = myVar - 1
    
    
## END YOUR CODE HERE

10
9
8

## Functions

A function:

- Orders code
- Divides code into blocks
- Makes code more readable
- Makes code reusable

A function encloses multiple lines of code that accomplish a certain task. It's formed of a block head, followed by a block (multiple lines) of code. In python, functions are defined using the keyword "def" and thus, the block head is formed as: def FunctionName(argument1, argument2, ...).

In [0]:
def SumOfTwo(x, y):
    z = x + y
    print("The sum of %s and %s is %s" % (x, y, z))

A function is called by writing the function's name followed by brackets filled with the corresponding arguments.

In [0]:
SumOfTwo(2, 3)

A function can also return values through the use of the "return" keyword.

In [0]:
def SumOfTwo(x, y):
    z = x + y
    print("The sum of %s and %s is %s" % (x, y, z))
    return z

In [0]:
returnedValue = SumOfTwo(2, 5)
print('The returned value is: %s' % returnedValue)

#### Your Turn!

- Create a function "Thirteen" that takes two values a and b
- This function should return True if one of the values is equal to 13 or if their sum or difference is 13
- try it with the following pairs: 2 and 3, 2 and 13, 8 and 21

In [0]:
## START YOUR CODE HERE


## END YOUR CODE HERE

##### ُExpected output

```
False
True
True
```

#### Your Turn! CHALLENGING

- Create a function "FilterList" that takes 3 arguments: a list "myList" and two numbers "min" and "max"
- The function should retrun a list containing the numbers in myList that fall between min and max

In [0]:
## START YOUR CODE HERE

def FilterList(myList, min, max):
    result = []
    for x in myList:
        if (x <= max) and (x >= min):
            result.append(x)
    return result
    
l1 = range(10)
l2 = FilterList(myList=l1, min=5, max=8)
print(l2)

# END YOUR CODE HERE

##### Expected output

```
[5, 6, 7, 8]
```